{% extends 'layout/base.html.twig' %}

{% block title %}connexion{% endblock %}
{# block navbar pour masquer page connexion  #}
{% block navbar %}{% endblock %}
{% block body %}
<div class="login-form bg-info bold text-center ">
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal p-2 text-white shadow">Se connecter </h1>
    <label class="text-white" for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label class="text-white for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Saisir votre Password" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
{# décommenter la remember me  #}
    

<br>
        <div class="checkbox mb-3">
            <label class="text-white" >
                <input type="checkbox" name="_remember_me" > Remember me  <a style="margin-left:40px" class="text-white"  href="{{ path('app_forgot_password_request') }}">  Mot de passe oublié </a>
            </label>
        </div>
   

    <button class="btn btn-lg btn-primary btn-block" type="submit">
        Sign in
    </button>
</form>
</div>
{% endblock %}

{% block footer %}{% endblock %}
