{% extends "layout/base.html.twig" %}
{% block title %}Page Inscription | Merci de vous inscrire {% endblock %}

{% block navbar %}{% endblock %}

{% block body %}
<div class="login-form text-black bg-info bold text-center ">
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Inscription </h1>

    {{ form_start(registrationForm) }}
     {{ form_row(registrationForm.firstName, {'attr':{'class':'form form-control'}}) }}
      {{ form_row(registrationForm.lastName,{'attr':{'class':'form form-control'}}) }}
        {{ form_row(registrationForm.email, {'attr':{'class':'form form-control'}}) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password', 'attr':{'class':'form form-control'}
        }) }}
        {{ form_row(registrationForm.agreeTerms) }} 
       

        <button type="submit" class="btn btn-primary btn-block">Register</button>
    {{ form_end(registrationForm) }}
    </div>
    <br><br>
{% endblock %}
{% block footer %}{% endblock %}
