{{ form_start(form) }}
    Titre {{ form_widget(form.title, {'attr':{'class': 'form form-control' }}) }}
     {{ form_row(form.description, {'attr':{'class': 'form form-control' }}) }}
      {{ form_row(form.imageFile, {'attr':{'class': 'form form-control' }}) }}
      <br>
    <button class="btn btn-primary btn-block p-2">{{ button_label | default ('Save') }}</button>
{{ form_end(form) }}
